include ../../atoms/button/button
include ../../molecules/nav-panel/nav-panel
include ../../molecules/ext-title/ext-title

-
  let navItems = [
    {text: 'Home', url: '#'},
    {text: 'Product', url: '/product'},
    {text: 'Pricing', url: '/price'},
    {text: 'Contact', url: '/contact'}
  ]

header.header.section
  .header__wrap.content
    .header__bar
      h1.header__logo.title Relvise
      +nav-panel(navItems)
    +ext-title('header', {
      title: 'Finance and Consultancy Solution',
      subtitle: 'We know how large objects will act, but things on a small scale.'
    }).header__motto
    .header__btns
      +button('Get Quote Now', {isFill: true, isBig: true, shape: 'round', color: 'sec'}).header__btn
      +button('Learn More', {shape: 'round', color: 'main'}).header__btn
