@use '~@scss-utils/fonts.scss';
@use '~@scss-vars/colors.scss';
@import '~normalize.css';


body {
  font-family: Forum, serif;
  font-weight: 400;
  font-size: 30px;
  color: colors.$SEC_ACCENT_COLOR;
}
