include ../../molecules/nav-panel/nav-panel
include ../../atoms/logo/logo

-
  var navPanelItems = [
    {text: 'Visiting', link: '#visiting'},
    {text: 'Explore', link: '#explore'},
    {text: 'Video', link: '#journey'},
    {text: 'Gallery', link: '#gallery'},
    {text: 'Tickets', link: '#tickets'},
    {text: 'Contacts', link: '#contacts'},
  ]

header.header._section
  .header__container._container
    +logo('header').header__logo
    +nav-panel(navPanelItems).header__nav-panel
