@use '~@scss-vars/colors.scss';

.header {
  min-height: 150px;
  background-color: colors.$MAIN_DARK_COLOR;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
