mixin logo(place)
  div(class=[attributes.class, 'logo'])
    if place === 'header'
      include ../../../assets/icons/louvre.svg
      h1.logo__text Louvre
    else
      a(href='#welcome').logo__link._link
        include ../../../assets/icons/louvre.svg
        span.logo__text Louvre
