@use '~@styles/constants/colors.scss' as c;

.ext-title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__title {
    font-weight: inherit;
  }

  &__subtitle {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: c.$PALE_DARK_COLOR;
  }
}
