$MAIN_LIGHT_COLOR: #fff;
$MAIN_DARK_COLOR: #252b42;
$MAIN_ACCENT_COLOR: #0d5c63;

$SEC_LIGHT_COLOR: #fafafa;
$SEC_DARK_COLOR: #17213c;
$SEC_ACCENT_COLOR: #ff7b47;

$PALE_LIGHT_COLOR: #f3f3f3;
$PALE_DARK_COLOR: #737373;
$PALE_ACCENT_COLOR: #8ec2f2;
